* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: $c_txt_paragraph_main;
}

body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.container {
    width: calc(100% - 30px);
    margin: 0 auto;
}
