/* ----------------------------------- COLORS ----------------------------------- */

$c_bg_header: hsl(193, 100%, 96%);
$c_bg_main: hsl(0, 0%, 99%);
$c_bg_card: hsl(0, 0%, 100%);
$c_bg_footer: hsl(192, 100%, 9%);
$c_bg_button: hsl(0, 0%, 100%);
$c_bg_button_accentuate: hsl(322, 100%, 66%);

$c_txt_title: hsl(192, 100%, 9%);
$c_txt_paragraph_header: hsl(192, 100%, 9%);
$c_txt_paragraph_main: hsl(208, 11%, 55%);
$c_txt_light: hsl(193, 100%, 96%);

// font-family: 'Poppins', sans-serif;
// - Family: [Poppins](https://fonts.google.com/specimen/Poppins)
// - Weights: 600

// ### Body, Call-to-actions

// font-family: 'Open Sans', sans-serif;
// - Family: [Open Sans](https://fonts.google.com/specimen/Open+Sans)
// - Weights: 400, 700